<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>myadvancedpt.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap core CSS -->


</head>

<body>


    <div style="width:700px; margin:0 auto; padding:5px 0; font-family:verdana; font-size:13px; color:#333;">


        <div style="padding:0 0 10px 0; border-bottom:2px solid #ccc;">
            <table width="100%" border="0">
                <tr>
                    <td width="37%"><div><img src="images/logo.png" style="width:180px;" alt="" /></div></td>
                    <td width="63%"><div style="padding:10px; text-align:center;font-size:23px; font-weight:bold;">Financial Hardship Application</div></td>
                </tr>
            </table>

        </div>


        <div style="padding:20px 0 5px 0;">
            <h3 style="padding:0 0 5px 0; margin:0; font-size:19px;">Instruction Page</h3>
            <p style="padding:0 0 15px 0; margin:0; font-size:15px; font-weight:bold;">All information relating to financial hardship requests will be kept confidential.</p>

            <p style="padding:0 0 15px 0; margin:0;">The patient will need to complete a financial disclosure form and provide documentation of proof of income. Appropriate documentation of financial hardship would be one or more of the following:</p>

            <p style="padding:0 0 8px 0; margin:0;">1) Documented proof that patient is at or below 200% of the current federal poverty guidelines (see attachment B for 2008 guidelines). This can include documents such as</p>
            <div style="padding:0 0 20px 20px;">
                a. W-2 withholding statements<br>
                b. Pay check stubs<br>
                c. Income tax return<br>
                d. Forms from Medicaid or other State-funded medical assistance<br>
                e. Forms from employers or welfare agencies.
            </div>

            <p style="padding:0 0 8px 0; margin:0;">2) Patient has other circumstances that indicate financial hardship. These can be situations such as:</p>
            <div style="padding:0 0 20px 20px;">
                a. proof of bankruptcy settlement<br>
                b. catastrophic situations (death or disability in family, divorce)<br>
                c. or other documentation that shows that patient would be unable to pay medical bill and still be able to pay for other basic necessary expenses.
            </div>

            <p style="padding:0 0 12px 0; margin:0;">Income shall be annualized from the date of request based on documentation provided and upon verbal information provided by the patient. The annualization process will also take into consideration seasonal employment and temporary increases and/or decreases to income.</p>

            <p style="padding:0 0 12px 0; margin:0;">Any denial of “financial hardship” discount request will be written and will include instructions for reconsideration. If additional documentation of financial need is received to support charity care, the request will be reviewed and considered per the above guidelines.</p>



        </div>

        <div style="padding:15px 0 15px 0; margin-top:20px; text-align:center; font-size:17px; font-weight:bold; border-top:2px solid #8a8a8a;">
            <p>
                2014 POVERTY GUIDELINES FOR THE 48 CONTIGUOUS STATES
                AND THE DISTRICT OF COLUMBIA
            </p>

        </div>

        <table style="width:100%; text-align:center; font-size:14px;" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding:5px; background:#000; color:#fff; font-size:15px;"><strong>Persons In Household</strong></td>
                <td style="padding:5px; background:#000; color:#fff; font-size:15px;"><strong>Poverty Guideline</strong></td>
            </tr>
            <tr>
                <td style="padding:6px;">1</td>
                <td style="padding:6px;">$11,670</td>
            </tr>
            <tr>
                <td style="padding:6px;">2</td>
                <td style="padding:6px;">$15,730</td>
            </tr>
            <tr>
                <td style="padding:6px;">3</td>
                <td style="padding:6px;">$19,790</td>
            </tr>
            <tr>
                <td style="padding:6px;">4</td>
                <td style="padding:6px;">$23,850</td>
            </tr>
            <tr>
                <td style="padding:6px;">5</td>
                <td style="padding:6px;">$27,910</td>
            </tr>
            <tr>
                <td style="padding:6px;">6</td>
                <td style="padding:6px;">$31,970</td>
            </tr>
            <tr>
                <td style="padding:6px;">7</td>
                <td style="padding:6px;">$36,030</td>
            </tr>
            <tr>
                <td style="padding:6px;">8</td>
                <td style="padding:6px;">$40,090</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:8px;"><strong>For households with more than 8 persons, add $4,060 for each additional person.</strong></td>
            </tr>
        </table>

        <div style="text-align:center; padding:25px 0 25px 0;">SOURCE: Federal Register, Vol. 77, No. 17, January 26, 2012, pp. 4034-4035</div>

        <div style="padding:0 0 45px 0;">
            OIG Special Fraud Alert (1994). OIG Advisory Opinion 97-4. Federal Register, Vol 65, No. 81, 4-26-00 pages 24401-2440742 CFR, section 1001.952 (k)HIPAA, section 231(h), section 1128A42 USC, Section 1320a-7aBBA, section 4331 False Claims Act, Public Law 104-191, Kennedy v Connecticut General Life Ins. Co (Case Law) 924 F.2d 698 (7th Cir. 1991) Managed Care Contracts
        </div>


        <h3 style="padding:0 0 5px 0; margin:0; font-size:19px;">Disclosure Form & Financial Statement</h3>
        <p style="padding:0 0 15px 0; margin:0; font-size:15px; font-weight:bold;">Please provide the following information:</p>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="67%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Patient Name
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Date
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="67%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Name of Responsible Party
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Relationship to Patient
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="67%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Patient’s Home Address
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Patient’s Phone Number
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="37%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Patient’s Employer Name
                        </td>
                        <td style="padding-right:10px;" width="63%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Patient’s Employer Address
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="62%">

                            <strong>Is the Patient Unemployed?	YES	or	NO	If YES, how long?</strong>
                        </td>
                        <td style="padding-right:10px;" width="38%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="68%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Spouse’s Name
                        </td>
                        <td style="padding-right:10px;" width="32%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Spouse’s Phone Number
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="45%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Spouse’s Employer Name
                        </td>
                        <td style="padding-right:10px;" width="55%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Spouse’s Employer Address
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="62%">

                            <strong>Is the Spouse Unemployed?	YES	or	NO	If YES, how long?</strong>
                        </td>
                        <td style="padding-right:10px;" width="38%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="28%">
                            How many people are living in your household?
                        </td>
                        <td style="padding-right:10px;" width="34%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                        </td>
                        <td style="padding-right:10px;" width="38%" valign="top">
                            List Names, Employers and Addresses below.
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="34%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Household Member Name
                        </td>
                        <td style="padding-right:10px;" width="33%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer Address
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="34%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Household Member Name
                        </td>
                        <td style="padding-right:10px;" width="33%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer Address
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="34%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Household Member Name
                        </td>
                        <td style="padding-right:10px;" width="33%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer
                        </td>
                        <td style="padding-right:10px;" width="33%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Employer Address
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-top:20px;" width="34%">

                            <strong>Who Contributes to the Monthly Household Income?</strong>





                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-top:0px;" width="34%">

                            <input type="checkbox">&nbsp;<strong>Patient </strong>&nbsp;&nbsp;
                            <input type="checkbox">&nbsp;<strong>Spouse </strong>&nbsp;&nbsp;<input type="checkbox">&nbsp;<strong>Responsible Party </strong>&nbsp;&nbsp; <input type="checkbox">&nbsp;<strong>Children Working</strong>





                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="51%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Monthly Salary (Gross)
                        </td>
                        <td style="padding-right:10px;" width="49%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Public Assistance Benefits
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="51%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Unemployment Benefits
                        </td>
                        <td style="padding-right:10px;" width="49%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Social Security Benefits
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="51%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Workman’s Compensation
                        </td>
                        <td style="padding-right:10px;" width="49%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Child Support
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="51%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            Other (Alimony, Etc.)
                        </td>
                        <td style="padding-right:10px;" width="49%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>
                            <strong>TOTAL FAMILY INCOME</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div style="padding:12px 0; font-weight:bold;">
            I HEREBY ACKNOWLEDGE THAT THE INFORMATION GIVEN HEREIN IS TRUE AND CORRECT. I AUTHORIZE
            ADVANCED PHYSICAL THERAPY OF CENTRAL FLORIDA, INC TO VERIFY ANY INFORMATION CONTAINED IN
            THIS DOCUMENT FOR THE SOLE PURPOSE OF ASSESSING FINANCIAL NEED.
        </div>

        <div style="padding:0 0 5px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="68%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Signature of Person Making Request
                        </td>
                        <td style="padding-right:10px;" width="32%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Date
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div style="padding:0 0 35px 0;">
            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="padding-right:10px;" width="68%">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Signature of Spouse/Other
                        </td>
                        <td style="padding-right:10px;" width="32%" valign="top">
                            <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                            Date
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <h3 style="padding:0 0 5px 0; margin:0; font-size:19px;">Supporting Documents</h3>
        <p style="padding:0 0 15px 0; margin:0; font-size:15px; font-weight:bold;">Please return all items (as applicable) on this checklist (in person or by mail):</p>

        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Most recent IRS tax forms (1040 and/or W-2). Must be signed.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Check stubs for the past 30 days for all persons employed in the home.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Unemployment check stubs for the past 30 days.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Driver’s license or identification cards for adults.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Proof of all other income received in the past 30 days.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Proof of all outstanding bills (payment stubs, cancelled checks, etc.).</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;DSHS Denial letter.</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Medicaid forms or card</div>
        <div style="padding:5px 0;"><input type="checkbox">&nbsp;Completed and Signed Disclosure Form & Financial Statement (Page 2 of this application).</div>
        <br>
        <br>
        <br>


        <div style="padding:20px; border:2px solid #000;">

            <strong style="font-style:italic;"><i>DO NOT WRITE IN BOX – FOR OFFICE PERSONNEL USE ONLY</i></strong>


            <div style="padding:0 0 5px 0;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-right:10px;" width="36%">
                                This document was received on
                            </td>
                            <td style="padding-right:10px;" width="55%" valign="top">
                                <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                            </td>
                            <td style="padding-right:10px;" width="9%">
                                (date)
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div style="padding:0 0 5px 0;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-right:10px;" width="5%">
                                by
                            </td>
                            <td style="padding-right:10px;" width="80%" valign="top">
                                <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                            </td>
                            <td style="padding-right:10px;" width="15%">
                                (Name/Title).
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div style="padding:0 0 5px 0;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-right:10px;" width="19%">
                                Patient Name
                            </td>
                            <td style="padding-right:10px;" width="81%" valign="top">
                                <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div style="padding:0 0 5px 0;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-right:10px;" width="33%">
                                Approved Co-Pay Amount:
                            </td>
                            <td style="padding-right:10px;" width="67%" valign="top">
                                <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;">$</div>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div style="padding:0 0 5px 0;">
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-right:10px;" width="18%">
                                Approved by
                            </td>
                            <td style="padding-right:10px;" width="82%" valign="top">
                                <div style="padding:8px 0 8px 0; border-bottom:1px solid #333; margin-bottom:5px; min-height:20px;"></div>
                                (signature of office manager)
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</body>
</html>
