<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="fonts/fonts.css">
</head>

<body>


<div class="logo"><img src="images/logo.jpg"  alt=""/></div>
<div class="maintext">
Please provide your
<span>Social Security Number</span>
</div>

<input type="password" class="imputfield" >
<input type="button" class="okbutt" value="OK">



</body>
</html>
