
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="http://karmickproduction.com/designer/advanced/html/favicon.png">
    <link href="~/Content/style1.css" rel="stylesheet" />
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <title>FaceDetection</title>
</head>
@Html.Hidden("PatientCondition_Id", null, new { @id = "PatientCondition_Id" })
<body onload="setTimeout(function(){window.location.href = '@Url.Action("Index", "Patient")'}, 2000)">
   
    <div class="logo"><img src="~/Images/logo.png" alt="" /></div>
    @ViewBag.user
    <img src="~/Images/cammera.jpg" alt="" />

</body>
</html>

