@model DataLayer.Models.PatientAOBInfo
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_PatientPortal.cshtml";
}


@Html.Partial("~/Areas/Patient/Views/PatientRegistration/PatientAOBInfo.cshtml", Model)
<script>
    __progressbarcontainer = "progressbarcontainer";
</script>
<div id="progressbarcontainer">

</div>