
@{
    Layout = null;
}
@*@Html.Partial("~/Areas/PatientSchedule\Views\Calendar\SchedulePatient.cshtml", Model)*@
@*@Html.Partial(Url.Content("/ptotslp/Areas/PatientSchedule/Views/Calendar/SchedulePatient.cshtml"))*@
@Html.Partial(Url.Content("/Areas/PatientSchedule/Views/Calendar/SchedulePatient.cshtml"))
<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SchedulePatientForPatient</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
