@model DataLayer.Models.tblMPatient

@{
    Layout = null;
}
@using DataLayer;


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>myadvancedpt.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.png">

</head>

<body>



    <div style="width:700px; margin:0 auto; padding:25px 0; font-family:verdana; font-size:14px; color:#333;">

        <div style="padding:0 0 25px 0;">
            <table width="100%" border="0">
                <tr>
                    <td><img src="http://karmickproduction.com/designer/advanced/html/images/logo.png" alt="" /></td>
                    <td style="font-size:24px; line-height:35px; text-align:right;">
                        <strong>Prescription / Letter of Medical Necessity</strong><br>
                        Phone 352-693-3378 • Fax 888-758-9645
                    </td>
                </tr>
            </table>


        </div>
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="19%">Patient Name</td>
                    <td width="25%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.FirstName  @Model.tblMPatient.LastName</td>
                    <td width="5%" style="padding-left:20px;">SSN</td>
                    <td width="20%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.Social_Security</td>
                    <td width="5%" style="padding-left:20px;">DOB</td>
                    <td width="18%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.DOB.GetExactValue()</td>
                </tr>
            </table>


        </div>
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="7%">Address</td>
                    <td width="62%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.AddressLine1 ,@Model.tblMPatient.City,@Model.tblMPatient.State,@Model.tblMPatient.ZipCode</td>
                    <td width="8%" style="padding-left:20px;">Phone</td>
                    <td width="23%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.Phone2</td>
                </tr>
            </table>


        </div>
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="23%">Date of Surgery (If applicable)</td>
                    <td width="29%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    <td width="21%" style="padding-left:20px;">Date of Injury If applicable</td>
                    <td width="27%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                </tr>
            </table>


        </div>
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="12%">Clinic Location</td>
                    <td width="43%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.tblMPatient.Location</td>
                    <td width="15%" style="padding-left:20px;">Physical Therapist</td>
                    <td width="30%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;@Model.Prescription.Therapist_Name</td>
                </tr>
            </table>


        </div>


        <h2 style="padding:0 0 10px 0; border-bottom:3px solid #333;">ORTHOPEDIC BRACING</h2>

        <div style="padding:0 0 10px 0;">
            <input type="checkbox"checked="checked">&nbsp;<strong>Custom Knee L1846</strong>
            <table width="100%" border="0">
                <tr>
                    <td width="4%">&nbsp;</td>
                    <td width="96%">
                        <div style="padding:8px 0 8px 0;">Reason for custom vs. off the shelf brace:</div>
                        <div style="padding:0 0 8px 0;"><input>&nbsp;Disproportionate size of thigh and calf</div>
                        <div style="padding:0 0 8px 0;"><input>&nbsp;Atypical thigh and calf dimensions due to obesity (BMI greater than or equal to 30)</div>
                        <div style="padding:0 0 8px 0;"><input>&nbsp;Minimal muscle mass upon which to suspend an orthosis</div>
                        <div style="padding:0 0 8px 0;"><input>&nbsp;Intimate fit is required for ligament protection or off-loading indication</div>

                    </td>
                </tr>
            </table>

        </div>
        <div style="padding:0 0 10px 0;">
            <input type="checkbox">&nbsp;<strong>Soft OA Knee Offloader L1843</strong>
        </div>

        <div style="padding:0 0 10px 0;">
            <input type="checkbox">&nbsp;<strong>Ligament Knee Brace L1845</strong>
        </div>

        <div style="padding:0 0 10px 0;">
            <input type="checkbox" >&nbsp;<strong>Rigid OA Knee Offloader L1845</strong>
        </div>


        <div style="padding:0 0 10px 0;">
            <input type="checkbox" >&nbsp;<strong>Lumbosacral Orthosis L0637</strong>
        </div>


        <div style="padding:0 0 10px 0;">
            <input type="checkbox">&nbsp;<strong>Kyphosis Corrective Orthosis L0456</strong>
        </div>



        <h2 style="padding:0 0 10px 0; border-bottom:3px solid #333;">OTHER</h2>

        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="3%"><input type="checkbox"></td>
                    <td width="47%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    <td width="5%" style="padding-left:20px;"><input type="checkbox"></td>
                    <td width="45%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                </tr>
            </table>


        </div>
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                <tr>
                    <td width="3%"><input type="checkbox"></td>
                    <td width="47%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    <td width="5%" style="padding-left:20px;"><input type="checkbox"></td>
                    <td width="45%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                </tr>
            </table>


        </div>
        <div style="padding:70px 0 70px 0;"></div>

            <h2 style="padding:0 0 10px 0; border-bottom:3px solid #333;">MEDICAL NECESSITY / LENGTH OF NEED</h2>
            <div style="padding:0 0 20px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="19%"><input type="checkbox">&nbsp;Purchase / Lifetime</td>
                        <td width="17%"><input type="checkbox">&nbsp;1-3 Months</td>
                        <td width="21%"><input type="checkbox">&nbsp;3-6 Months</td>
                        <td width="7%"><input type="checkbox">&nbsp;Other</td>
                        <td width="36%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    </tr>
                </table>


            </div>


            @*<div style="padding:0 0 20px 0;">
                <table width="100%" border="0">
                  <script>
                      var counter = 0;
                      </script>
                        @for (int i = 0; i < Model.DMEDiognosis.Count; i++)
                                {
                     <tr>
                        <td width="12%" valign="top">ICD-10 CODES</td>
                        <td width="25%" style="padding-right:15px;">
                            <div style="padding:0 0 20px 0; border-bottom:1px solid #333;">@Model.DMEDiognosis[i].ICD10Code</div>
                           
                        </td> 
                     </tr>
                       <script>
                           counter += 1;
                  </script>
}
                </table>

            </div>*@
        <div style="padding:0 0 20px 0;">
            <table width="100%" border="0">
                    <tr>
                        <td width="9%">@Html.RadioButtonFor(m => m.KneeBraceCustomForm.CirclePosition, "RIGHT", new { @disabled = "disabled" })&nbsp;Right</td>
                        <td width="8%">@Html.RadioButtonFor(m => m.KneeBraceCustomForm.CirclePosition, "LEFT", new { @disabled = "disabled" })&nbsp;Left</td>
                        <td width="17%"><input type="radio" disabled="disabled">&nbsp;Do Do Not Substitute</td>
                    </tr>
            </table>

        </div>
            <div style="padding:0 0 20px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="25%">Previous Treatment(s)/Medications:</td>
                        <td width="19%"><input type="checkbox">&nbsp;Prior Surgery</td>
                        <td width="24%"><input type="checkbox">&nbsp;NSAIDS/Pain Medications</td>
                        <td width="19%"><input type="checkbox">&nbsp;Physical Therapy</td>
                        <td width="13%"><input type="checkbox">&nbsp;Injections</td>
                    </tr>
                </table>

            </div>
            <div style="padding:0 0 20px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="11%">Physician Name</td>
                        <td width="28%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                        <td width="6%" style="padding-left:20px;">NPI</td>
                        <td width="27%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                        <td width="7%" style="padding-left:20px;">Phone</td>
                        <td width="21%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    </tr>
                </table>


            </div>
            <div style="padding:0 0 20px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="18%">Physician Signature</td>
                        <td width="54%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                        <td width="7%" style="padding-left:20px;">Date</td>
                        <td width="21%" style="padding:0 0 10px 0; border-bottom:1px solid #231f20;">&nbsp;</td>
                    </tr>
                </table>


            </div>

            I certify the above prescribed equipment is medically indicated and supports accepted standards of medical practice for this patient’s condition.

            <div style="text-align:center; font-size:22px; font-weight:bold; padding:25px 0 0 0;">PLEASE RETURN THIS FORM BY FAX TO 888-758-9645</div>

        </div>










</body>
</html>
